.header {
    padding: 15px 30px;
    min-height: 100px;
    display: flex;
    align-items: center;

    background-color: $primary-color;
}

.header__btn {
    @include hover();
    display: block;
    padding: 8px 15px;

    font-size: 20px;
    line-height: 1.1;
    color: $white;

    background-color: $header-btn-color;
    border-radius: 5px;

    @media screen and (max-width:$mobile-width) {
        margin: 0 auto;
    }
}
