$roboto: "Roboto", "Arial", sans-serif;

$black: #000000;

$white: #ffffff;
$primary-color: #7FAFF6;
$body-color: #C0DBD9;
$header-btn-color:#A5C7F9;
$block-1-color:#B3F95A;
$block-2-color:#88B5BF;
$block-1-item-color:#8AD191;
$block-2-item-color:#0D89B0;

$transition: all 1s ease-in;

$mobile-width: 550px;
$tablet-width: 900px;
$desktop-width: 1250px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
