$roboto: "Roboto", "Arial", sans-serif;

$black: #000000;

$white: #ffffff;
$footer-header-color: #7FAFF6;
$body-color: #C0DBD9;
$header-btn-color:#A5C7F9;

$transition: all 0.3s ease-in;

$mobile-width: 550px;
$tablet-width: 900px;
$desktop-width: 1250px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
