doctype html
html(lang="ru")
    head
        block head
            meta(charset="utf-8")
            meta(content="width=device-width, initial-scale=1" name="viewport")
            meta(name="description" content="Lorem ipsum dolor sit amet, consectetuer adipiscing elit.")
            title nodasoft-test
            link(rel="icon" type="image/x-icon" href="favicon.ico")
            link(rel="stylesheet" href="css/style.min.css")
    body
        <div style="display:none">
            <include src="build/img/icons/sprite.svg"></include>
        </div>
        .container
            header.header
                a.header__btn(href="#popup") Open pop-up button
            main.main
                .block-1.main__block
                    - for (let i = 0; i < 5; i++)
                        .block-1__item
                .block-2.main__block
                    - for (let i = 0; i < 4; i++)
                        .block-2__item
            footer.footer
        .popup#popup
            .popup__content
                a.popup__btn(href="#", aria-label="popup-close")
                    svg(width=13, height=15, aria-hidden="true")
                        use(xlink:href="#icon-close")
                p.popup__text Pop-up
